<div class="mb-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="bg-white rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/admin">
              Admin
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Books List
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <h1 class="header-font">
      Books List
    </h1>
  </div>
</div>

<!-- Hoverable Table rows -->
<div class="card">
  <div class="card-header">
    <div class="d-flex flex justify-content-between align-items-start">
      <button type="button" class="btn btn-primary text-capitalize fw-bold" data-bs-toggle="modal"
        data-bs-target="#addNewModal">
        <i class="fa-solid fa-plus me-2"></i>
        Add new book
      </button>
    </div>
  </div>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="table-light">
        <tr>
          <th>
            Thumbnail
          </th>
          <th>
            Title
          </th>
          <th>
            Category
          </th>
          <th>
            Author
          </th>
          <th>
            Inventory
          </th>
          <th>
            Price
          </th>
          <th>
            Last Updated
          </th>
          <th>
            Quick Actions
          </th>
        </tr>
      </thead>
      <tbody id="admin-book-table" class="table-border-bottom-0">
        {{#each books}}
        <tr>
          <td>
            <img src="{{this.thumbnail}}" alt="{{this.title}}" style="width: 100px" />
          </td>
          <td class="text-wrap">
            <div style="max-width: 300px !important;">
              {{this.title}}
            </div>
          </td>
          <td>
            {{this.category_title}}
          </td>
          <td class="text-wrap">
            <div style="max-width: 200px !important;">
              {{this.author_name}}
            </div>
          </td>
          <td>
            {{this.inventory}}
          </td>
          <td>
            ${{this.price}}
          </td>
          <td>
            {{this.last_updated}}
          </td>
          <td>
            <div class="flex d-flex justify-content-start gap-4">
              <a href="/admin/books/{{this._id}}" class="btn p-0">
                <i class="fa-solid fa-eye"></i>
              </a>
              <form action="/admin/books/delete/{{this._id}}" method="POST">
                <button type="submit" class="btn text-danger p-0">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </form>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <nav id="paginationWrapper" aria-label="...">
      <ul class="pagination" style="margin-top: 1rem; padding-left: 0.3rem">
        {{#loopTill totalPages}}
        <li class="page-item {{#ifEquals ../page index}}active{{/ifEquals}}">
          <a class="page-link" style="cursor: pointer; border-radius: 0.3125rem;"
            onclick="paging({{index}})">{{index}}</a>
        </li>
        {{/loopTill}}
      </ul>
    </nav>
  </div>
</div>

<!-- Add new modal -->
<div class="modal fade" id="addNewModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Add new book
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/admin/books/new" method="POST">
        <div class="modal-body">
          <div class="form-floating mb-3">
            <input type="text" name="title" class="form-control" id="title" placeholder="Input book title" required
              style="height: 56px" />
            <label for="title">
              Title
            </label>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-floating mb-3">
                <input type="text" name="language" class="form-control" id="language" placeholder="Input book language"
                  style="height: 56px" />
                <label for="language">
                  Language
                </label>
              </div>
            </div>
            <div class="col-4">
              <div class="form-floating mb-3">
                <input type="number" name="pages" class="form-control" id="pages" placeholder="Input number of pages"
                  style="height: 56px" />
                <label for="pages">
                  Pages
                </label>
              </div>
            </div>
            <div class="col-4">
              <div class="form-floating mb-3">
                <input type="text" name="age" class="form-control" id="age" placeholder="Input target age group"
                  style="height: 56px" />
                <label for="age">
                  Age Group
                </label>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="brief_des" class="form-control" id="brief_des"
              placeholder="Input brief description" style="height: 56px" />
            <label for="brief_des">
              Brief Description
            </label>
          </div>
          <div class="form-floating mb-3">
            <textarea name="full_des" class="form-control" id="full_des" placeholder="Input full description"
              rows="4"></textarea>
            <label for="full_des">
              Full Description
            </label>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-floating mb-3">
                <input type="number" name="price" class="form-control" id="price" placeholder="Input book price"
                  style="height: 56px" />
                <label for="price">
                  Price
                </label>
              </div>
            </div>
            <div class="col-4">
              <div class="form-floating mb-3">
                <input type="number" name="inventory" class="form-control" id="inventory"
                  placeholder="Input book inventory" style="height: 56px" />
                <label for="inventory">
                  Inventory
                </label>
              </div>
            </div>
            <div class="col-4">
              <div class="form-floating mb-3">
                <input type="text" name="vendor" class="form-control" id="vendor" placeholder="Input book vendor"
                  style="height: 56px" />
                <label for="vendor">
                  Vendor
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-floating mb-3">
                <input type="text" name="author_name" class="form-control" id="vendor" placeholder="Input book vendor"
                  style="height: 56px" />
                <label for="author">
                  Author
                </label>
              </div>
            </div>
            <div class="col-4">
              <div class="form-floating mb-3">
                <select name="category_id" class="form-select" id="category_id" style="height: 56px" required>
                  <option value="" disabled selected>
                    Select a category
                  </option>
                  {{#each categories}}
                  <option value="{{this._id}}">
                    {{this.title}}
                  </option>
                  {{/each}}
                </select>
                <label for="category_id">
                  Category
                </label>
              </div>
            </div>
            <div class="col-4">
              <div class="form-floating mb-3">
                <input type="date" name="published_at" class="form-control" id="published_at"
                  placeholder="Input publication date" style="height: 56px" />
                <label for="published_at">
                  Published At
                </label>
              </div>
            </div>
          </div>

          <div class="form-floating mb-3">
            <input type="text" name="thumbnail" class="form-control" id="thumbnail" placeholder="Input thumbnail URL"
              style="height: 56px" />
            <label for="thumbnail">
              Thumbnail URL
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src='/js/admin/books.js'></script>