<div class="mb-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="bg-white rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/admin">
              Admin
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Categories List
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <h1 class="header-font">
      Categories List
    </h1>
  </div>
</div>

<!-- Hoverable Table rows -->
<div class="card">
  <div class="card-header">
    <div class="d-flex flex justify-content-between align-items-start">
      <button type="button" class="btn btn-primary text-capitalize fw-bold" data-bs-toggle="modal"
        data-bs-target="#addNewModal">
        <i class="fa-solid fa-plus me-2"></i>
        Add new category
      </button>
    </div>
  </div>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="table-light">
        <tr>
          <th>
            Thumbnail
          </th>
          <th>
            Title
          </th>
          <th>
            Slug
          </th>
          <th>
            Total books
          </th>
          <th>
            Quick Actions
          </th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {{#each categories}}
        <tr>
          <td>
            <img src="{{this.thumbnail}}" alt="{{this.title}}" style="width: 100px" />
          </td>
          <td>
            <i class="mdi mdi-wallet-travel mdi-20px text-danger me-3"></i>
            <span class="fw-medium">
              {{this.title}}
            </span>
          </td>
          <td>
            {{this.slug}}
          </td>
          <td>
            {{this.book_count}}
          </td>
          <td>
            <div class="flex d-flex justify-content-start gap-4">
              <a href="/admin/categories/{{this._id}}" class="btn p-0">
                <i class="fa-solid fa-eye"></i>
              </a>
              <form action="/admin/categories/delete/{{this._id}}" method="POST">
                <button type="submit" class="btn text-danger p-0">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </form>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<!-- Add new modal -->
<div class="modal fade" id="addNewModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Add new category
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/admin/categories/new" method="POST">
        <div class="modal-body">
          <div class="form-floating mb-3">
            <input type="text" name="title" class="form-control" id="title" placeholder="Input category title" required
              style="height: 56px" />
            <label for="title">
              Title
            </label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="slug" class="form-control" id="slug" placeholder="Input category slug" required
              style="height: 56px" />
            <label for="slug">
              Slug
            </label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" name="thumbnail" class="form-control" id="thumbnail" placeholder="Input thumbnail URL"
              style="height: 56px" />
            <label for="thumbnail">
              Thumbnail URL
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>