<div class="mb-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="bg-white rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/admin">
              Admin
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Orders List
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <h1 class="header-font">
      Orders List
    </h1>
  </div>
</div>

<!-- Hoverable Table rows -->
<div class="card">
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="table-light">
        <tr>
          <th>#</th>
          <th>Customer Email</th>
          <th>Book</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody id="admin-order-table" class="table-border-bottom-0">
        {{#each orders}}
        <tr>
          <td>{{this.index}}</td>
          <td>{{this.customer_name}}</td>
          <td>
            {{#each products}}
            <p>{{book.title}}</p>
            {{/each}}
          </td>
          <td>
            {{#each products}}
            <p>{{quantity}}</p>
            {{/each}}
          </td>
          <td>
            {{#each products}}
            <p>${{book.price}}</p>
            {{/each}}
          </td>
          <td>${{this.subTotal}}</td>
          <td>{{created_at}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <nav id="paginationWrapper" aria-label="...">
    <ul class="pagination" style="margin-top: 1rem; padding-left: 0.3rem">
      {{#loopTill totalPages}}
      <li class="page-item {{#ifEquals ../page index}}active{{/ifEquals}}">
        <a class="page-link" style="cursor: pointer; border-radius: 0.3125rem;"
          onclick="paging({{index}})">{{index}}</a>
      </li>
      {{/loopTill}}
    </ul>
  </nav>
</div>

<script src='/js/admin/orders.js'></script>