<div class="mb-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="bg-white rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/admin">
              Admin
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Subscribers List
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <h1 class="header-font">
      {{title}}
    </h1>
  </div>
</div>

<!-- Data Tables -->
<div class="col-12">
  <div class="card">
    <div class="table-responsive">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th class="text-truncate">
              #
            </th>
            <th class="text-truncate">
              Email
            </th>
            <th class="text-truncate">
              Date subscribed
            </th>
          </tr>
        </thead>
        <tbody id="admin-subscribers-table">
          {{#each subscribers}}
          <tr>
            <td class="text-truncate">
              {{this.index}}
            </td>
            <td class="text-truncate">
              {{this.email}}
            </td>
            <td class="text-truncate">
              {{this.created_at}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      <nav id="paginationWrapper" aria-label="...">
        <ul class="pagination" style="margin-top: 1rem; padding-left: 0.3rem">
          {{#loopTill totalPages}}
          <li class="page-item {{#ifEquals ../page index}}active{{/ifEquals}}">
            <a class="page-link" style="cursor: pointer; border-radius: 0.3125rem;"
              onclick="paging({{index}})">{{index}}</a>
          </li>
          {{/loopTill}}
        </ul>
      </nav>
    </div>
  </div>
</div>

<script src='/js/admin/subscribers.js'></script>
