<div style='padding: 2rem 4rem; display: flex; gap:40px;'>
  {{> category/filter}}
  <div class='text-center d-flex flex-column align-items-center' style='flex:1;'>
    <div id="book-cards-container" class='book-cards-container row' style='width: 100%;'>
      {{#each books}}

        <div class="col-3  book-card">
          <a class="book-card-container" href="/product/{{this._id}}">
            <div
              class="img-container"
              style="width: 100%;
                min-width: 240px;
                padding-top: 150%;
                background-image: url('{{this.thumbnail}}');
                background-size: cover;"
            >
            <div class="overlay fs-2 text-light">
              <i class="fa-solid fa-eye"></i>
            </div>
            </div>
            <div class="card-body text-start py-4 text-center">
              <h1 class="fs-4 header-font fw-bold">{{this.title}}</h1>
              <p class="text-secondary fs-5">${{this.price}}</p>
            </div>
          </a>
        </div>
      </div>
      {{/each}}
    </div>

    <nav id="paginationWrapper" aria-label="...">
      <ul class="pagination">
        {{#loopTill totalPages}}
        <li class="page-item {{#ifEquals ../currentPage index}}active{{/ifEquals}}">
          <a class="page-link" style="cursor: pointer;" onclick="paging({{index}})">{{index}}</a>
        </li>
        {{/loopTill}}
      </ul>
    </nav>

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.8/dist/handlebars.min.js"></script>
<style>
  .img-container {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .overlay:hover {
    opacity: 1;
  }
</style>
