<div
  style='padding: 4rem 10rem;'
  class='text-center d-flex flex-column align-items-center'
>
  <h1 class='text-uppercase mb-4 fw-bold header-font fs-2'>FAQ</h1>

  <div class='accordion' id='accordionExample' style='width: 100%;'>
    {{#each data}}
      <div class='accordion-item'>
        <h2 class='accordion-header' id='heading{{this.id}}'>
          <button
            class='accordion-button'
            style='background-color: var(--palette-02); color: white; border:none; box-shadow: none;'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#collapse{{this.id}}'
            aria-controls='collapse{{this.id}}'
          >
            {{this.title}}
          </button>
        </h2>
        <div
          id='collapse{{this.id}}'
          class='accordion-collapse collapse'
          aria-labelledby='heading{{this.id}}'
          data-bs-parent='#accordionExample'
        >
          <div class='accordion-body' style='text-align: left;'>
            {{this.content}}
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>