<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<!-- Custom styles for this template -->

<section>
  <div class="container py-5">
    <main>
      <div class="mb-5 text-center">
        <h2 class="header-font fs-1 fw-bold text-uppercase">
          Checkout
        </h2>
      </div>

      <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
          <h3 class="d-flex justify-content-between align-items-center mb-3" style="color: var(--palette-02);">
            <span class="header-font  fw-bold">
              Your cart
            </span>
            <span class="badge rounded-pill" style="background-color: var(--palette-02);">
              {{totalQuantity}}
            </span>
          </h3>
          <ul class="list-group mb-3">
            {{#each books}}
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div class="d-flex">
                <div style="width: 100px; height: 100px;">
                  <img src={{this.book.thumbnail}} width="100%" height="100%" style="object-fit: contain;" />
                </div>
                <div>
                  <h6 class="my-0">
                    {{this.book.title}}
                  </h6>
                  <span class="text-muted">
                    Quantity: {{this.quantity}}
                  </span>
                  <p class="text-muted">
                    {{this.book.language}} / {{this.book.published_at}}
                  </p>
                </div>
              </div>
              <span class="text-muted">
                ${{this.totalPrice}}
              </span>
            </li>
            {{/each}}
            <div class="list-group-item d-flex justify-content-between">
              <span>
                Total (USD)
              </span>
              <strong>
                {{subTotal}}
              </strong>
            </div>
          </ul>
        </div>
        <div class="col-md-7 col-lg-8">
          <h3 class="mb-3 header-font  fw-bold">
            Shipping address
          </h3>
          <form class="needs-validation" novalidate id="paymentForm">
            <div class="row g-3">
              <div class="col-sm-12">
                <label for="name" class="form-label">
                  Name
                </label>
                <input type="text" class="form-control" id="name" placeholder="" value="{{this.default_address.name}}"
                  disabled name="fullname" />
              </div>
              <div class="col-12">
                <label for="phone" class="form-label">
                  Phone
                </label>
                <input type="phone" class="form-control" id="phone" placeholder="Input phone number"
                  value="{{this.default_address.phone}}" disabled name="phone" />
              </div>
              <div class="col-12">
                <label for="address" class="form-label">
                  Address
                </label>
                <textarea type="text" class="form-control" id="address" placeholder="1234 Main St" disabled
                  requiredstyle="height: 100px" name="address">{{this.default_address.address}}</textarea>
              </div>
              <div class="col-12 text-end mt-4 mb-0"><a href="/auth/profile/addresses" class="m-0"
                  style="color: var(--palette-02)">Change your default address</a></div>
              <hr class="my-4" />
              <button class="btn btn-primary rounded-1 border-0 shopping-btn mt-3 w-100"
                style="background-color: var(--palette-02); padding: 0.75rem 6rem;" type="submit">
                Pay now
              </button>
          </form>
        </div>
      </div>
    </main>
  </div>
</section>
<script src="/js/form-validation.js"></script>
<script>
  const subTotal = "{{subTotal}}"
  const booksData = {{{ json books }}};

  const form = document.getElementById('paymentForm');
  form.addEventListener('submit', async (event) => {
    event.preventDefault();

    // Enable disabled fields
    const disabledFields = form.querySelectorAll('[disabled]');
    disabledFields.forEach((field) => {
      field.disabled = false;
    });

    const formData = new FormData(form);
    formData.append('subTotal', parseInt(subTotal));

    const data = {};
    formData.forEach((value, key) => {
      data[key] = value;
    });
    data["products"] = booksData;

    disabledFields.forEach((field) => {
      field.disabled = true;
    });

    try {
      fetch('/checkout/order', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      }).then(async (res) => {
        const data = await res.json();
        if (data.success) {
          alert(data.message);
          window.location.href = "/auth/profile"
        } else {
          alert(data.message);
          window.location.href = "/"
        }
      }).catch(err => {
        console.error('Purchasing Failed')
        alert('Purchasing Failed');
      });
    } catch (error) {
      console.error('Error:', error);
    }
  });

</script>